ul{
    list-style: none;
    font-size: large;
}
.nav_bar{
    width: 33.3%;
    height: 2px;
}
#title{
    font-size: x-large;
    font-weight: bold;
    margin-left: 43%;
    position: relative;
    padding-top:-10%;

}
#title:hover{
    cursor:auto; 
}
#mail{
    position: absolute;
    top: 4.5%;
    left: 92%;
    transform: translateY(-75%);
    text-align: left;
    font-size: x-large;
    font-weight: bold;
    
}
.menu_icon{
    position: absolute;
    top: 7.5%;
    left: 2%;
    transform: translateY(-50%);
    font-size: x-large;
}
.menu_icon:hover{
    background-color: rgb(199, 201, 201);
    cursor: pointer;            

}
.menu_items{
    display: none;
    font-size: 25px;
    position: relative;
    margin-top: 5px;/*pushes the menu items below the menu icon*/
    margin-left: -6%;/*makes the menu items to start right at the beginning of the screen*/
    right: 3%;
    width: 33%;
    height: 300%;
    background-color: rgb(238, 242, 245);
    padding-bottom: 130%;
   
}
li:hover{
    background-color: rgb(199, 201, 201);
    cursor: pointer        
}
